@import url("./assets/fonts/Euclid Circular B/stylesheet.css");

body {
  width: 1440px;
}

header {
  height: 105px;
  background-color: #F5F5F5;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header__logo {

}

.header__logo__text {
  font-family: Euclid Circular B;
}