@import url("./assets/fonts/Euclid Circular B/stylesheet.css");

* {
  box-sizing: border-box;
  font-family: Euclid Circular B;
}

html,
body {
  height: 100%;
}

body {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
}

a {
  text-decoration: none;
  color: #000;
}

header {
  height: 105px;
  background-color: #F5F5F5;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}



.logo {
  display: flex;

}

.logo__text {
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  margin-left: 16px;
  margin-top: 18px;
  line-height: 41px;
}

.header__start {
  display: flex;
  align-items: center;
}

.header__start__button {
  margin-left: 32px;
  background: #FFDF31;
  ;
  background-image: -webkit-linear-gradient(top, #FFDF31; , #FFDF31; );
  background-image: -moz-linear-gradient(top, #FFDF31; , #FFDF31; );
  background-image: -ms-linear-gradient(top, #FFDF31; , #FFDF31; );
  background-image: -o-linear-gradient(top, #FFDF31; , #FFDF31; );
  background-image: linear-gradient(to bottom, #FFDF31; , #FFDF31; );
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  border: none;
  color: #000000;
  font-size: 18px;
  text-hover: #ffffff;
  padding: 12px 16px 12px 16px;
  text-decoration: none;
  cursor: pointer;
}

.header__start__button:hover {
  color: #ffffff;
  background: #ffd500;
  background-image: -webkit-linear-gradient(top, #ffd500, #ffd500);
  background-image: -moz-linear-gradient(top, #ffd500, #ffd500);
  background-image: -ms-linear-gradient(top, #ffd500, #ffd500);
  background-image: -o-linear-gradient(top, #ffd500, #ffd500);
  background-image: linear-gradient(to bottom, #ffd500, #ffd500);
  text-decoration: none;
  border: none;
}

.header__start__number {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
}








footer {
  height: 235px;
  width: 100%;
  background-color: #F5F5F5;
  flex: 0 0 auto;
  display: flex;
  align-items: center;
}

.footer__share {
  display: flex;
  width: 100%;
  background: #FFFFFF;
  border-radius: 8px;
}

.footer__share_h2 {
  display: flex;
  font-size: 32px;
  line-height: 41px;
}


.homepage {
  margin-top: 300px;
  margin-bottom: 300px;
}







.content {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-left: 125px;
  margin-right: 125px;
}

.container {
  margin-right: 125px;
  margin-left: 125px;
  margin-bottom: 72px;
  flex: 1 0 auto;
}

.content__block {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.content__title {
  font-family: Euclid Circular B;
  font-style: normal;
  font-weight: 500;
  font-size: 72px;
  line-height: 66px;
}

.content__form {
  width: 540px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;

}

.content__form label {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #000000;

}

.content__form__together_short {
  display: flex;
}

.content__form__short_element {
  width: 50%;
}

.ident {
  margin-right: 30px;
}


.title {
  display: flex;
  align-items: center;
  height: 24px;
}

.short__valid {
  margin-top: 12px;
  width: 100%;
  border-radius: 8px;
  background: #F5F5F5;
  border: none;
  padding: 10px 15px;
  margin-bottom: 10px;
  font-size: 18px;
}

.short__invalid {
  margin-top: 12px;
  width: 100%;
  border-radius: 8px;
  background: #FF6666;
  border: none;
  padding: 10px 15px;
  margin-bottom: 10px;
  font-size: 18px;
}

.content__form__short_element__light {
  width: 50%;
  display: block;
  box-sizing: border-box;
  margin-bottom: 10px;
  font-size: 14px;
}

.content__form__large_element {
  width: 100%;
}


.large__invalid {
  margin-top: 12px;
  width: 100%;
  border-radius: 8px;
  background: #FF6666;
  border: none;
  padding: 10px 15px;
  margin-bottom: 10px;
  font-size: 18px;
}

.large__valid {
  margin-top: 12px;
  width: 100%;
  border-radius: 8px;
  background: #F5F5F5;
  border: none;
  padding: 10px 15px;
  margin-bottom: 10px;
  font-size: 18px;
}


.content__form__large_element textarea {
  display: block;
  resize: none;
  background: #F5F5F5;
  border-radius: 8px;
  border: none;
  margin-bottom: 10px;
  margin-top: 12px;
  width: 100%;
}

.content__form__gender {
  display: flex;
  height: 80%;
}

.content__form__gender_radio_block {
  margin-right: 32px;
  display: flex;
  align-items: center;
}

.content__form__gender_radio_block input {
  margin-right: 12px;
}

.content__info {
  width: 35%;
}

.content__info__title {
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 41px;
}

.content__info__words {
  width: 90%;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  font-size: 18px;
  padding: 0 0 10px 0;

}

.content__info__button {
  width: 100%;
  margin-top: 24px;
  background: #F5F5F5;
  border-radius: 8px;
  border: none;
  padding: 22px 125px 21px 125px;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
}